@model Dominio.Produto

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja excluir o registro?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IdProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProduto)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
