<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Produto", "Index", "Produto")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jean Mota</p>
        </footer>
        @*<footer class="footer">
            <div class="pull-left">
                © 2015 - Fansoft Softwares
            </div>
            <div class="pull-right">
                <div id="links-footer">
                    <strong>Links:</strong>
                    <ul class="list-unstyled">
                        <li><a href="http://github.com/fnalin" target="_blank">Meu GitHub</a></li>
                        <li><a href="http://www.facebook.com/fabianonalin.net.br" target="_blank">Facebook</a></li>
                        <li><a href="http://twitter.com/fnalin" target="_blank">Twitter</a></li>
                        <li><a href="http://www.linkedin.com/pub/fabiano-nalin/55/188/3a0" target="_blank">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@*<footer class="footer">
    <div class="pull-left">
        © 2015 - Fansoft Softwares
    </div>
    <div class="pull-right">
        <div id="links-footer">
            <strong>Links:</strong>
            <ul class="list-unstyled">
                <li><a href="http://github.com/fnalin" target="_blank">Meu GitHub</a></li>
                <li><a href="http://www.facebook.com/fabianonalin.net.br" target="_blank">Facebook</a></li>
                <li><a href="http://twitter.com/fnalin" target="_blank">Twitter</a></li>
                <li><a href="http://www.linkedin.com/pub/fabiano-nalin/55/188/3a0" target="_blank">Linkedin</a></li>
            </ul>
        </div>
    </div>
</footer>*@
